name: Test Arch Mapping with Matrix

on:
  pull_request:
    branches:
      - main

jobs:
  test-arch-tag:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, powerpc64le]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Print Arch Tag
        run: |
          # Map matrix.arch using Bash parameter substitution
          arch_tag="${{ matrix.arch/x86_64/amd64 }}"
          arch_tag="${arch_tag/powerpc64le/ppc64le}"

          # Print results
          echo "matrix.arch = ${{ matrix.arch }}"
          echo "arch_tag = $arch_tag"


